@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-dark bg-white antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans font-bold;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F5F5F0;
}
::-webkit-scrollbar-thumb {
  background: #996515;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5C4033;
}
